/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centering all screens */
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    padding: 20px;
}


/* Title Styling */
.title-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #244e74;
    margin-bottom: 20px;
}

/* Participant ID Screen */
.participant-id-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    column-gap: 20px;
}

.furhat-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.furhat-image {
    width: 250px;
}

.furhat-label {
    background: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 5px;
}

.text-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #244e74;
    background: #eef2f5;
    padding: 30px;
    border-radius: 10px;

}

.participant-input {
    margin-top: 10px;
}

/* Scenario Display */
.scenario-display {
    text-align: center;
}

.scenario-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #2d765b;
    margin-bottom: 20px;
    background: #d6e7df;
    padding: 22px;
    border-radius: 10px;
}

.scenario-out-of {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #2d765b;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

/* Scenario Rating */
.scenario-rating {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #244e74;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
    flex: 1;
    height: 90%;

}

.emotion-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: #eef2f5;
    border-radius: 10px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button-grid button {
    width: 100%;
    max-width: 180px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background: white;
    border: 2px solid #244e74;
    color: #244e74;
    cursor: pointer;
}

/* Adjusting the Neutral button */
.neutral-button {
    grid-column: 2 / 3; /* Moves it to the center column */
    margin-top: 20px; /* Adds space below the other buttons */
}


.button-grid button.selected {
    background-color: #244e74 !important;
    color: white;
}



.next-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Scenario Scaling */
.scenario-scaling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #244e74;

}

.scaling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: #eef2f5;
    border-radius: 10px;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reset-button {
    margin-top: 20px;
    margin-bottom: 40px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
}

.back-button {
    background-color: #194051;
    color: white;
}

.next-button {
    background-color: #194051;
    color: white;
}

.next-button.disabled {
    background-color: gray;
}

/* Scenario Questions */
.scenario-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #244e74;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: #eef2f5;
    border-radius: 10px;
    margin-bottom: 60px;
}

.text-area {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.done-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-top: 20px;
}

/* Done Screen */
.done-screen {
    text-align: center;
    padding: 20px;
    background: #eef2f5;
    border-radius: 10px;
    font-size: 18px;
    color: #244e74;
}

.done-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #244e74;
    padding: 22px;
}

.done-image {
    width: 200px;
    margin-top: 20px;
}
